
<div class="clear-index">
<div class="clear-tittle">
  LIFE SPACE REFORM
</div>
<div>
  CLEAR では賃貸アパート・マンションの原状回復工事をはじめ、<br>小規模な補修工事から大規模なリフォームまで幅広いサービスを提供しているリフォーム会社です。
</div>
<div>
  皆様にご満足いただけるサービスを良心的な価格でご提供するべく、<br>スタッフ一同心身共に成長し続けて参ります。
</div>

<div class="clear-tittle2">
  原状回復工事★
</div>
<div>
  当社では賃貸アパート・マンションの<br>
  原状回復に関わる幅広いサービスを提供しています。<br>
  お客様の退去時の立ち会いから自社施工による工事、<br>ハウスクリーニングまでトータルにサポート。<br>
  また、トレンド感のある内装やリノベーション等を<br>ご提案しオーナー様の資産価値の向上を目指します。
</div>
<div class="clear-tittle3">
  施工★
</div>
<div>
  お客様の大切な資産をお預かりし、<br>
  ご希望のリフォームを実現する為、<br>
  当社では自社施工に拘っています。<br>
  自分たちの仕事に最後まで責任を持ち,<br>
  クオリティや現場マナーまで丁寧に、<br>
  お客様に満足頂くサービスを提供します。 
</div>
<div class="clear-tittle4">
  修理サービス
</div>
<div>
  水回りの交換から小規模な補修工事まで<br>
  大きな工事を必要としない修理工事を<br>
  行えるクリアのメンテナンスチーム。<br>
  フットワークも軽く水道のパッキン１つの交換から迅速に対応致します。
</div>
<div class="clear-tittle5">
  施工事例
</div>
<div class="clear-menu">
  <div class="clear-menu-tittle">
    menu
  </div>
  <div class="clear-tittle6">
    リノベーション定番コース
  </div>
  <div class="clear-tittle6">
    会社概要
  </div>
  <div class="clear-tittle6">
    採用情報
  </div>
  <div class="clear-tittle6">
    お問い合わせ
  </div>
</div>
  
