<h1>会社概要</h1>

<table class="overview-table">
  <tr class="overview-tr1">
    <td>会社名</td>
    <td>CLEAR クリア</td>
  </tr>
  <tr class="overview-tr2">
    <td>所在地</td>
    <td>大阪府八尾市東山本新町3-3-20 2F</td>
  </tr>
  <tr class="overview-tr1">
    <td>電話番号</td>
    <td><a href=tel:08061895688>080-6189-5688</a>（代表）</td>
  </tr>
  <tr class="overview-tr2">
    <td>FAX</td>
    <td><a href=tel:0729213961>072-921-3961</a></td>
  </tr>
  <tr class="overview-tr1">
    <td>E-mail</td>
    <td><a href=mailto:clear.01@zeus.eonet.ne.jp>clear.01@zeus.eonet.ne.jp</a></td>
  </tr>
  <tr class="overview-tr2">
    <td>代表者名</td>
    <td>吉川 斗貴</td>
  </tr>
  <tr class="overview-tr1">
    <td>事業内容</td>
    <td>原状回復工事<br>
      リフォーム全般
    </td>
  </tr>
</table>